*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quantico";
  src: url("./Quantico/Quantico-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quantico";
  src: url("./Quantico/Quantico-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  background: black;
  font-family: "Quantico";
  justify-content: center;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  text-align: center;
}

#time {
  font-size: 5rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

button {
  font-family: inherit;
  font-size: 3rem;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 40px;
  padding-inline: 1em;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(0px, 5px);
  box-shadow:
    0px 2px 5px rgba(255, 255, 255, 0.7),
    0px 4px 10px rgba(255, 255, 255, 0.7);
}

#date {
  margin-top: 1em;
  font-size: 2rem;
}

.clock-container {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border: 5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
}

.time-faces {
  position: absolute;
  color: black;
  height: 100%;
  width: 100%;
}

.nine,
.twelve,
.three,
.six {
  position: absolute;
}
.six,
.twelve {
  left: 50%;
  transform: translate(-50%);
}
.six {
  bottom: 0%;
}
.three {
  top: 50%;
  transform: translate(0, -50%);
  right: 0%;
}
.nine {
  top: 50%;
  transform: translate(0, -50%);
  left: 0%;
}

.one {
  transform: rotate(30deg);
}

.two {
  transform: rotate(60deg);
}

.four {
  transform: rotate(120deg);
}

.five {
  transform: rotate(150deg);
}

.seven {
  transform: rotate(210deg);
}

.eight {
  transform: rotate(240deg);
}

.ten {
  transform: rotate(300deg);
}

.eleven {
  transform: rotate(330deg);
}

.time-faces div {
  height: 100%;
  width: 100%;
  position: absolute;
}

.time-faces div::after {
  content: "";
  height: 12px;
  margin-block-start: 0.3em;
  width: 2px;
  position: absolute;
  background: grey;
}
.dial-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

#second-hand {
  width: 2px;
  height: 80px;
  background-color: #c9352f;
}

#second-hand,
#minute-hand,
#hour-hand {
  border-radius: 0.2em;
  position: absolute;
  bottom: 100%;
  transform-origin: center bottom;
}

.bullet {
  background: black;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
}

#minute-hand {
  width: 3px;
  height: 90px;

  background-color: grey;
}

#hour-hand {
  width: 4px;
  height: 70px;
  background-color: black;
}
